
body{
    background: rgb(26,26,26);
    color:white;
    overflow: hidden;

}

#result{
    font-size:23px;
    position: absolute;
    bottom:10%;
    left:50%;
    transform: translateX(-50%);
    background-color:rgba(107,107,107,0.8);
    color:#ffefef;
z-index: 5;
}
#result p{
    margin:0;
    background-color: rgba(255,124,92,0.8);
    color:black;
    font-weight: bold;
    text-align: center;

}
#time{
    position:absolute;
    font-size:30px;
    left:5%;
    top:5%;
    margin-top:125px;
}
#time2{
    position:absolute;
    font-size:30px;
    left:5%;
    top:5%;
    margin-top:160px;
}
#RTC{
    font-family: sans-serif;
    position:absolute;
    left:50%;
    top:50%;
    font-size: 7em;
    color: cyan;
    margin:0;
    transform: translate(-50%,-50%);
    z-index: 5;
}
#date{
    position:absolute;
    font-size:30px;
    color:white;
    text-decoration:none;
    left:20%;
    top:37%;
    z-index: 5;
}
#player{
    display: none;
}


button{
    position: absolute;
    font-size:50px;
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: rgba(247,247,247,0.8);
  border-left: solid 18px rgba(255,124,92,0.8);/*左線*/
  border-bottom:none;
  border-right:none;
  border-top:none;
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  z-index: 5;
}

#music{
    top:5%;
    left:95%;
    width:40%;
    transform: translateX(-100%);
}
#timer{
    top:5%;
    left:5%;
    width:40%;
}
#refresh{
    font-size: 30px;
    top:5%;
    left:95%;
    width:20%;
    transform:translateX(-100%);
    margin-top:140px;
}
#refresh:active{
    color:red;
    border-left:solid 18px rgba(255,0,0,0.8);
}
td img{
    width:100px;
    height:100px;
}

#analog{
    position:absolute;
    left:50%;
    top:50%;
    transform:translateX(-50%) translateY(-50%);
    z-index: 0;
}

#SAMPLE{
    clip-path:polygon(40% 5%,60% 5%,60% 60%,40% 60%);
position:absolute;
    z-index: -1;
    left:-700px;
    top:500px;
}